ul.nav.navbar-nav.navbar-right.text-uppercase
  li: a(href="#about").page-scroll About
  li: a(href="#work").page-scroll Work
  li: a(href="#contact").page-scroll Contact
  li: a(href="https://www.google.com" target="_blank").page-scroll External Link