@font-face {
  font-family: 'DIN';
  src: url('fonts/DINNextLTPro-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/DINNextLTPro-Light.woff') format('woff'), /* Modern Browsers */
       url('fonts/DINNextLTPro-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/DINNextLTPro-Light.svg#a25104a0774d16e06886a3b435b5d53e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}