extends ../layouts/base

block variables
  -metaKeywordsPage = "error"; //- Extra keywords for this page
  if !(baseUrl.indexOf(deployUrl) > -1)
    -baseUrl = "/" + deploySubDir; //- baseURL from root for error pages because they can be called from every possible URL if you are not using absolute URL's

block content
  .container
    .row
      .col-lg-12.text-center
        p The requested URL was not found on this server.

    .row
      .col-lg-12.text-center
        a(href=baseUrl target="_self").btn.btn-default Go to home page
