extends ../layouts/base

block vars
  -metaKeywordsPage = "error"; //- Extra keywords for this page
  if !(baseUrl.indexOf(deployUrl) > -1)
    -baseUrl = "/" + deploySubDir; //- baseURL from root for error pages because they can be called from every possible URL if you are not using absolute URL's

block content
  h5 The requested URL is forbidden.