extends layouts/base

block vars
  -pageTitle = null; //- Custom page title
  -metaKeywordsPage = ""; //- Extra keywords for this page

block content
  header: .header-content: .header-content-inner.text-center
    h1 Lorem Ipsum
    hr
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    a(href="#about").btn.btn-primary.btn-xl.page-scroll cillum dolore
  section#about
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Quis nostrum exercitationem
          hr.primary
          p
            | Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat
  section#work.no-padding
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Work
          hr.primary
    .container-fluid
      .row.no-gutter
        .col-lg-4.col-sm-6
          a(href='#')
            img.img-responsive(src='img/work/oddisee.jpg', alt='')
            .box-caption
              .box-caption-content
                .project-category
                  | Category
                .project-name
                  | Project Name
        .col-lg-4.col-sm-6
          a(href='#')
            img.img-responsive(src='img/work/passingby.jpg', alt='')
            .box-caption
              .box-caption-content
                .project-category
                  | Category
                .project-name
                  | Project Name
        .col-lg-4.col-sm-6
          a(href='#')
            img.img-responsive(src='img/work/swarms.jpg', alt='')
            .box-caption
              .box-caption-content
                .project-category
                  | Category
                .project-name
                  | Project Name
        .col-lg-4.col-sm-6
          a(href='#')
            img.img-responsive(src='img/work/oddisee.jpg', alt='')
            .box-caption
              .box-caption-content
                .project-category
                  | Category
                .project-name
                  | Project Name
        .col-lg-4.col-sm-6
          a(href='#')
            img.img-responsive(src='img/work/passingby.jpg', alt='')
            .box-caption
              .box-caption-content
                .project-category
                  | Category
                .project-name
                  | Project Name
        .col-lg-4.col-sm-6
          a(href='#')
            img.img-responsive(src='img/work/swarms.jpg', alt='')
            .box-caption
              .box-caption-content
                .project-category
                  | Category
                .project-name
                  | Project Name
  aside.bg-dark
    .container.text-center
      .call-to-action
        h2 Temporibus autem quibusdam et aut officiis!
        a.btn.btn-default.btn-xl.wow.tada(href='#') Sapiente delectus!
  section#contact
    .container
      .row
        .col-lg-8.col-lg-offset-2.text-center
          h2.section-heading Contact
          hr.primary
          p
            | Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat
        .col-lg-4.col-lg-offset-2.text-center
          i.fa.fa-phone.fa-3x.wow.bounceIn
          p 123-456-6789
        .col-lg-4.text-center
          i.fa.fa-envelope-o.fa-3x.wow.bounceIn
          p
            a(href='mailto:your-email@your-domain.com') your-email@your-domain.com
