extends layouts/base

block variables
  -pageTitle = null; //- Custom page title
  -metaKeywordsPage = ""; //- Extra keywords for this page

block content
  section#social
    .container
      .row
        .col-md-12.text-center
          p#intro Online ego boost in process,#[br]check out these in the meantime:
      .row
        .col-md-12.text-center
          ul#icons
            li
              a(href="#" title="Send me an email")#mail
                span.icon.icon-envelope-square: span.hidden Email
            li
              a(href="https://www.facebook.com/wardoost" target="_blank" title="Follow me on Facebook")
                span.icon.icon-facebook-square: span.hidden Facebook
            li
              a(href="https://twitter.com/wardoost" target="_blank" title="Follow me on Twitter")
                span.icon.icon-twitter-square: span.hidden Twitter
            li
              a(href="https://www.linkedin.com/in/wardoosterlijnck" target="_blank" title="Check out my LinkedIn")
                span.icon.icon-linkedin-square: span.hidden LinkedIn
            li
              a(href="https://github.com/wardoost" target="_blank" title="Check out my GitHub")
                span.icon.icon-github-square: span.hidden GitHub
